@model List<CineTrujilloWeb.Models.Pelicula>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Cartelera</h3>

<div class="grid">

    @foreach (var peli in Model)
    {
        <div class="card">
            <div class="poster">
                <img src="@peli.ImagenUrl" />

                <div class="actions">
                    <a href="/Compra/Funciones/@peli.IdPelicula" class="btn btn-buy">
                        🎟 Comprar
                    </a>
                    <button class="btn btn-detail">➕ Ver Detalles</button>
                </div>
            </div>

            <div class="info">
                <h4>@peli.Titulo <span>(@peli.Clasificacion)</span></h4>
                <p>@peli.Genero, @peli.Duracion</p>
            </div>
        </div>
    }

</div>